{{#if error_msg2}}
<div>
  <div>
    <h6><strong style="color:red; white-space:pre;">{{error_msg2}}</strong></h6>
  </div>
</div>
{{/if}}

{{#if success_msg2}}
<div>
  <div>
    <h6><strong style="color:green; white-space:pre;">{{success_msg2}}</strong></h6>
  </div>
</div>
{{/if}}