<div id="main-container">

    <div id="recipe-container" class="info">

        <div id="picture-container">
            <a href="/recipe/{{_id}}">
                <img id="recipe-image" src="/images/{{image}}" class="icon">
            </a>
        </div>

        <div id="info-container">
            <div hidden id="recipeid">{{_id}}</div>
            <p id="recipename" class="recipename"> {{recipename}} </p>

        </div>

    </div>
</div>