<div class="recipe">
    <!-- <div class="info">
        <img src="{{image}}" class="icon">
        <p class="text"> {{name}} </p>
    </div> -->

    <div class="info">
        <img src="images\foodie.jfif" class="icon">
        <p class="text"> {{name}} </p>
    </div> 
</div>
