<style>
    #page1 {background-color:{{page1}};}
    #page2 {background-color:{{page2}};}
    #page3 {background-color:{{page3}};}
</style>
<div class="sidebar-container">
    <div class="sidebar">
        <ul>
            <li id="page1"><a  href="/home">Profile</a></li>
            <li id="page2"><a  href="/search">Search</a></li>
            <li id="logout"><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>