<div id="container">
    <div id="sidebarContent">
        {{>sidebar}}
    </div>
    <div id="search-content">
        <div id="searchinfo-container">
            <p id="text">Search for a recipe!</p>
            <form class="searchRecipe" action="/search", method="Post">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div id="recipe-list-container">
            {{#each preview}}
            <div id="recipe-list">
                <!--{{name}}-->
                <button type="button" class="recipeBox" id="Carousel<%= preview._id %>">      
                    <div class="recipeImage">
                        <!--
                        <img src="<%= preview.image %>" placeholder="<%= preview.name %>" alt="<%= preview.name %>">
                        <input type="hidden" value="<%= type %>">
                        -->
                    </div>
                    <div class="recipeBoxText">
                        <div "recipleBoxGrouping">
                            <div class="recipeBoxName">Recipe Name: {{name}}</div>
                            <div class="recipeBoxOwner">Owner: {{owner}}</div>
                        </div>
                    </div>
                </button>
            </div>
            {{/each}}
        </div>
    </div>