@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

#addRecipeInfo-container {
    font-size: xx-large;
    padding: 20px;
}

#recipeName,
#owner,
#cookingTime,
#colon {
    display: inline-block;
    margin-top: 20px;
}

#owner {
    /* margin-left: 0px; */
}

#inputName,
#inputOwner {
    /*min-height: 40px;*/
    font-size: large;
}

#inputMins,
#inputSecs {
    max-width: 50px;
    /*min-height: 30px;*/
    font-size: large;
}

#inputName {
    flex-grow: 1;
}

#ingredients{
    margin-top: 20px;
}

.addIngredientInput {
    text-align: center;
    min-height: 25px;
    border-radius: 20px;
    font-size: large;
}

#inputIngredient {
    margin-left: 30px;
    margin-right: 10px;
}

#addButton {
    font-size: 25px;
    border-radius: 50%;
    border-width: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#addButton:hover {
    background-color: rgb(202, 202, 202);
}

#addIngredientContainer {
    width: 50%;
}

#directions{
    margin-top: 30px;
}

#inputDirections {
    padding-top: 10px;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

#addRecipeSubmit{
	
	color: white;
	background-color: #7C89FF;
    font-size: large;
	cursor: pointer;
}

#addRecipeSubmit:hover{
	
	background-color: #1c2263;
    font-size: large;
}

/* add recipe overlay */
h3 {
	text-align: center;
	color: #413b3b;
	text-transform: uppercase;
	font-size: 80px;
	font-family: 'Zen Tokyo Zoo', cursive;
}
h5 {
	text-align: center;
	color: #82807f;
	margin: 80px auto;
	font-size: 20px;
	width: 50%;
	line-height: 1.7;
}
/* .box {
	font-size: 25px;
    margin: 2px;
    margin-left: 10px;
    padding: 2px;
} */
.button {
	width: auto;
    display: flex;
	font-size: 25px;
	/*
    margin: 2px;
    margin-left: 10px;
    padding: 10px;
	*/
	color: black;
	cursor: pointer;
	transition: all 0.3s ease-out;
	/* background: #403e3d; */
	/* border-radius: 50px; */
}
#addContainer-btn{
	
	/* display: flex; */
}
.overlay {
	overflow: scroll;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h2 {
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #06D85F;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

#ingredient{
    display: inline-block;
}
#ingredient-amount{
    display: inline-block;
}

#rcp{
	max-width: 500px;
}