@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

#container, #home-container, #recipepage-container {
    display: flex;
}

#content {
    flex-grow: 1;
}

#info-container {
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
}

#username,
#name,
#location {
    font-size: 50px;
    padding: 2px;
}

#edit-btn, #addContainer-btn {
    font-size: 25px;
    margin: 2px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    width: auto;
    /* float: right; */
    float: left;
}

#recipe-list-name {
    font-size: 30px;
    padding: 25px;
    margin-top: 20px;
}


img {
    max-width: 100%;
    height: 300px;
    margin-left: 30px;
    
}
/*
#food-pic {
    width: 200px;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
    display: flex;
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#food-name {
    flex-grow: 1;
}

.text {
    font-size: 50px;
    padding-left: 50px;
} */

#main-container{
    display:flex;
    flex-direction: column;
    margin-left: 20px;

}

#main-container > #recipe-container{
    display:flex;
    margin-bottom: 10px;
}

#recipe-container > #info-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
#recipe-image{
    height: 200px;
    width: 200px;
}

#info-container > #recipename{
    font-size: 3rem;
}
/* #recipe-list{
	margin-left: 30px;
} */