@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

#container {
    display: flex;
}

#content {
    flex-grow: 1;
}

#info-container {
    margin-left: 20px;
    margin-top: 20px;
}

#username,
#name,
#location {
    font-size: 50px;
    padding: 2px;
}

#edit-btn {
    font-size: 25px;
    margin: 2px;
    margin-left: 10px;
    padding: 2px;
}

#recipe-list-name {
    font-size: 30px;
    padding: 25px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-left: 30px;
}

#food-pic {
    width: 200px;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
    display: flex;
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#food-name {
    flex-grow: 1;
}

.text {
    font-size: 50px;
    padding-left: 50px;
}