@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* Register/Login Page - Start */
.regLogPage {
    background-color: #000000;
    overflow: hidden;
}

#registerContainer, #loginContainer {
    margin: auto;
    height: 100vh;
    width: 60%;
    padding: 50px;
    background-color: #FFFFFF;
}

.registerForm, .loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
}

.registerStyle, .loginStyle {
    color: #000000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.registerInput, .loginInput {
    background-color: #FFFFFF;
    border-radius: 15px;
    height: 30px;
    width: 80%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3%;
    padding: 5px;
}

.registerSubmit, .loginSubmit {
    display: block;
    margin: auto;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 40px;
    cursor: pointer;
}

.registerSubmit a{
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.loginLogo {
    margin: auto;
    margin-bottom: 5%;
    width: 50%;
    height: 200px;
    background-color: blue;
}
/* Register/Login Page - End */