@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* Style the search field */
form.searchRecipe input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 100%;
    border-radius: 15px;
}

/* Style the submit button */
form.searchRecipe button {
    width: 20%;
    padding: 10px;
    background: #ffffff;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    border:hidden;
}

form.searchRecipe button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.searchRecipe::after {
    content: "";
    clear: both;
    display: table;
}

#text{
    font-size: larger;
    margin-bottom: 10px;
}
#search-content{
    margin: 20px;
}