@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root {
    --sidebar-color: #f8f8f8;
    --sidebar-text: #000000;
    --sidebar-hover: #4a89ff;
    --sidebar-highlight: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--sidebar-highlight);
}

.sidebar-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    position: relative;
    
}

.sidebar-container .sidebar {
    width: 300px;
    background: var(--sidebar-color);
    padding: 30px 0px;
}

.sidebar-container .sidebar h2 {
    color: var(--sidebar-text);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.sidebar-container .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid var(--sidebar-text);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar-container .sidebar ul li a {
    font-size: 30px;
    color: var(--sidebar-text);
    display: block;
}

#logout{
    display: block;
    position: absolute;
    bottom: 0px;
    padding-left: 100px;
    padding-right: 103.55px;
}

.sidebar-container .sidebar ul li:hover {
    background-color: var(--sidebar-hover);
}

.sidebar-container .sidebar ul li:hover a {
    color: var(--sidebar-highlight);
}