<div id="container">
    <div id="sidebarContent">
        {{>sidebar}}
    </div>
    <div id="content">
        <div id="addRecipeInfo-container">
            <form action="/addRecipe" class="addRecipeForm" method="Post" enctype="multipart/form-data">

                <div>
                    <p class="addRecipeStyle" for="recipeImage" id="recipeImage">Recipe Image:</p>
                    <input class="addRecipeInput" type="file" id="inputImage" placeholder="Add recipe image"
                        name="recipe_image">
                </div>
                <div>
                    <p class="addRecipeStyle" for="recipeName" id="recipeName">Recipe Name:</p>
                    <input class="addRecipeInput" type="text" id="inputName" placeholder="Add recipe name"
                        name="recipe_name">
                    <p class="addRecipeStyle" for="owner" id="owner">Owner:</p>
                    <input class="addRecipeInput" type="text" id="inputOwner" placeholder="Add owner name"
                        name="owner_name">
                </div>

                <div>
                    <p class="addRecipeStyle" for="cookingTime" id="cookingTime">Cooking Time:</p>
                    <input class="addRecipeInput" type="number" id="inputMins" placeholder="min" name="recipe_minutes">

                    <p class="colon" for="colon" id="colon">:</p>
                    <input class="addRecipeInput" type="number" id="inputSecs" placeholder="sec" name="recipe_seconds">
                </div>

                <div id="1">
                    <p class="addRecipeStyle" for="ingredients" id="ingredients">Ingredients:</p>
                    <input class="addIngredientInput" type="text" id="inputIngredient" placeholder="Name"
                        name="recipe_name">
                    <input class="addIngredientInput" type="number" id="inputAmount" placeholder="Amount"
                        name="recipe_name">
                    <button class="addButton" type="button" id="addButton">+</button>
                    <div id="addIngredientContainer">
                        <!-- CONTAINER FOR ADDING MORE INGREDIENT INPUTS-->
                    </div>
                </div>

                <div>
                    <p class="addRecipeStyle" for="directions" id="directions">Directions:</p>

                    <textarea cols="80" rows="10" id="inputDirections" type="text" name="recipe_directions"
                        placeholder="Add text..."></textarea>

                </div>

                <button class="addRecipeSubmit" type="submit" id="addRecipeSubmit">ADD RECIPE</button>
            </form>
        </div>
    </div>
</div>