<div id="container">
    <div id="sidebarContent">
        {{>sidebar}}
    </div>
    <div id="content">
        <div id="info-container">
            <div id="username"> Username: {{username}}</div>
            <div id="name"> Name: {{Name}} </div>
            <div id="location"> Location: {{Location}} </div>
            <button id="edit-btn">Edit Profile Details</button>
        </div>
        <div id="recipe-list-container">
            <div id="recipe-list-name"> List of Recipes:</div>
            <div id="recipe-list">
                {{>recipe}}
    
                {{#each this}}
                    {{#if name}}
                        {{>recipe}}
                    {{/if}}
                {{/each}} </div>

        </div>
    </div>
</div>