<div id="container">
    {{>sidebar}}
    <div id="search-content">
        <div id="searchinfo-container">
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div id="recipe-list-container">
            <div id="recipe-list-name"> List of Recipes:</div>
            <div id="recipe-list">
                {{>recipe}}

                {{#each this}}
                {{#if name}}
                {{>recipe}}
                {{/if}}
                {{/each}} </div>

        </div>
    </div>
</div>