<div class="recipe">
    <!-- <div class="info">
        <img src="{{image}}" class="icon">
        <p class="text"> {{name}} </p>
    </div> -->

    <div id="info" class="info">
        <div id="food-pic">
            <img src="images\foodie.jfif" class="icon">
        </div>

        <div id="food-name">
            <p id="text" class="text"> salad </p>
        </div>
    </div>
</div>