<div class="sidebar-container">
    <div class="sidebar">
        <h2>Profile</h2>
        <ul>
            <li><a href="/home">Profile</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/addRecipe">Add a Recipe</a></li>
            <li id="logout"><a href="/logout">Logout</a></li>

        </ul>
    </div>
</div>